*{
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
	background:linear-gradient(90deg, rgba(233, 17, 17, 0.726) 50%, rgba(0,24,255,1) 100%);
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: flex-end;
}
.enlaces{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-top: 28px;
}
.paginas{
	margin-right: 10px;
	color: white;
	font-size: 18px;
	padding: 7 13px;
	border-radius: 3px;
}
.paginas:hover{
	background:rgb(233, 17, 17);
	transition:all .5s;
}
.checkbtn{
	display: none;
}
.check{
	display: none;
}
body{
    background-color: rgb(27, 27, 27);
}
.desc {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: 300px;
}
h1{
	margin-top: 130px;
    display: flexbox;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
    width: 100%;
    height: 200px;
    font-family: 'Satisfy', cursive;}



p{
	margin-top: 130px;
    color: white;
    text-align: center;
    font-family: 'PT Serif', serif;
	font-size: 20px;
}

.galery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 6px;
    grid-auto-flow: row;
    list-style: none;
    text-align: center;
}
.img-li{
    width: 600px;
}
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
@media (max-width:780px){
	nav{
		display: flex;
		justify-content: space-between;
	}
	.checkbtn{
		display: block;
		margin-top: 20px;
		filter: invert(100%);
		cursor: pointer;
	}
	.enlaces{
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100vh;
		margin-top: 80px;
		background-image: url(../recursos/stars_field_and_nebula-wallpaper-800x480.jpg);
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	#check:checked~.enlaces{
		left:0;
	}
	li{
		margin-bottom: 50px;	
	}
}

/* adsñkldjñalskdlaskd */
